


/* Grundlegender Stil für den gesamten Container */
mat-sidenav-container {
    height: 100vh; /* Volle Höhe des Viewports */
  }
  
  /* Stil für die Seitennavigation (Sidenav) */
  mat-sidenav {
    width: 250px; /* Breite der Seitennavigation */
    box-shadow: 3px 0px 6px rgba(0,0,0,0.16); /* Schatten für einen tieferen Effekt */
  }
  
  /* Stil für den Inhalt der Seitennavigation */
  .sidenav-content {
    padding: 15px;
  }
  
  /* Stil für die Navigationselemente innerhalb der Seitennavigation */
  mat-nav-list a {
    color: white; /* Textfarbe */
    padding: 10px 15px; /* Innenabstand */
    text-decoration: none; /* Keine Unterstreichung */
    display: block; /* Block-Element, um den gesamten verfügbaren Raum einzunehmen */
    border-radius: 5px; /* Abgerundete Ecken */
    transition: background-color 0.3s; /* Übergang für Hover-Effekt */
  }
  
  mat-nav-list a:hover {
    background-color: #3f51b5; /* Hintergrundfarbe beim Hovern */
    color: #fff; /* Textfarbe beim Hovern */
  }
  
  /* Stil für den Hauptinhalt-Bereich neben der Seitennavigation */
  mat-sidenav-content {
    padding: 20px;
  }
  
  /* Optional: Stil für einen Toggle-Button, falls verwendet */
  .toggle-button-container {
    position: fixed; /* Fixierte Position */
    top: 10px; /* Abstand von oben */
    left: 10px; /* Abstand von links */
    z-index: 1000; /* Stellt sicher, dass der Button über anderen Elementen ist */
  }
  
  mat-icon {
    color: #424242; /* Farbe der Icons */
  }
  