/* Grundlegende Stildefinitionen */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.projekt-container, .paletteninfo {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.mat-card-title, h3 {
  color: #1976d2;
}

.daten-sektion, section {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

/* Letzter Abschnitt ohne untere Grenze */
.daten-sektion:last-child, section:last-child {
  border-bottom: none;
}

.daten-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  margin-top: 15px;
}

.daten-grid div {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

/* Stil für die Tabelle */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #1976d2;
  color: white;
}

/* Stil für Bearbeitungsmodus */
.editMode {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert den Button horizontal */
  align-items: center; /* Optional, falls Sie den Button auch vertikal zentrieren möchten */
  padding: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
}

.editMode button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-mode-on {
  background-color: #4CAF50; /* Grün */
  color: white;
}

.edit-mode-off {
  background-color: #f44336; /* Rot */
  color: white;
}

.editMode button:hover {
  opacity: 0.9;
}
.editMode th, .editMode td {
  margin: 5px 0; /* Vertikaler Abstand */
  text-align: center; /* Zentriert den Text vertikal */
}

.editMode input[type="number"] {
  width: auto; /* Automatische Breite basierend auf dem Inhalt */
  padding: 6px 10px;
  margin-top: 5px; /* Abstand oben */
  font-size: 16px; /* Größere Schrift für bessere Lesbarkeit */
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center; /* Zentriert den eingegebenen Text */
}
input[type="number"] {
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #b30000;
}

.actions  {
  display: grid;
  background-color:#4CAF50;

  text-align: center;
  padding: 5px 10px; /* Erhöht den Padding für einen größeren Button */
  font-size: 24px; /* Größere Schrift für den Text im Button */
 
}

