/* General Styles */

div {
    font-family: 'Arial', sans-serif;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navigation-buttons {
    padding: 20px;
    background-color: #f3f3f3;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .navigation-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
    ul li {
     
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      align-items: center;
      padding: 10px;
      margin-bottom: 5px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.1);
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
  ul li:hover {
    background-color: #eaeaea;
  }
  
  .navigation-buttons button:hover {
    background-color: #357ae8;
  }
  
  .filter-container {
    margin-bottom: 20px;
  }
  
  .filter-container input[type="text"],
  .filter-container input[type="date"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Projektdetails {
    list-style-type: none;
    padding: 0;
  }
  
  .Projektdetails li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .algemein {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .algemein div {
    flex: 1; /* Each child will take up equal space */
  }
  
  .details-container {
    background-color: #e9e9e9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .details-container h3 {
    margin-top: 0;
  }
  
  .details-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .details-container ul li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  .details-container button {
    display: flex;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
  
      padding: 20px 35px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  .details-container button:hover {
    background-color: #45a049;
  }
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Abstand zwischen den Elementen */
    justify-content: center; /* Zentrieren der Elemente */
    margin-bottom: 20px; /* Abstand nach unten */
  }
  
  /* Stil für alle Input-Felder */
  input[type="text"], input[type="date"] {
    flex: 1; /* Flexibles Wachstum der Elemente */
    min-width: 150px; /* Minimale Breite eines Eingabefeldes */
    padding: 10px; /* Innenabstand */
    border: 2px solid #ccc; /* Rahmenfarbe */
    border-radius: 4px; /* Abgerundete Ecken */
    font-size: 16px; /* Schriftgröße */
    background-color: white; /* Hintergrundfarbe */
    color: #555; /* Textfarbe */
  }
  
  input[type="text"]:focus, input[type="date"]:focus {
    border-color: #007bff; /* Rahmenfarbe beim Fokussieren */
    outline: none; /* Entfernen des Outlines beim Fokussieren */
  }
  
  /* Optional: Media Query für kleinere Bildschirme */
  @media screen and (max-width: 600px) {
    .filter-container {
      flex-direction: column; /* Stapeln der Elemente auf kleineren Bildschirmen */
    }
  }
  
  
  
  
  