<div class="navigation-buttons">
  <button (click)="navigateTo('/mitarbeiter-liste')">Mitarbeiter Liste</button>
  <button (click)="navigateTo('/mitarbeiter-detail')">Mitarbeiter hinzufügen</button>
  <button (click)="navigateTo('/projektleiter')">Auftrag Liste</button>
  <button (click)="navigateTo('/alt')">Alte Auftrag Liste</button>
  <button (click)="navigateTo('/login')">Abmelden</button>
</div>

<div>
  <h1>Projekte Mit Bilanzierung</h1>
  <div class="filter-container">
    <input type="text" [(ngModel)]="filterText" (ngModelChange)="applyFilter()" 
           placeholder="Filtern nach Auftrag, Produktionslinie">
    <input type="text" [(ngModel)]="mitarbeiterFilter" (ngModelChange)="applyFilter()" 
           placeholder="Filtern nach Mitarbeitername">
 
  </div>
  


  <ul class="Projektdetails">
  
    <li *ngFor="let projekt of gefilterteProjekte" 
        (click)="ausgewaehltesProjekt = ausgewaehltesProjekt === projekt ? null : projekt">
        <div class="algemein">
      <div>Auftrag: {{ projekt.Auftrag }}</div>
      <div>Produktionslinie: {{ projekt.produktionslinie }}</div>
      <div>Startzeit: {{ projekt.startzeit | date:'dd.MM.yyyy HH:mm:ss' }}</div>
      <div>Endzeit: {{ projekt.endzeit | date:'dd.MM.yyyy HH:mm:ss' }}</div>

    </div>
      <!-- Details direkt unter jedem Projekt anzeigen, wenn es ausgewählt ist -->
      <div *ngIf="ausgewaehltesProjekt === projekt" class="details-container">
        <h3>Projektdetails: {{ projekt.Auftrag }}</h3>
        <div>
          <h4>Mitarbeiter</h4>
          <ul>
            <li *ngFor="let mitarbeiter of projekt.mitarbeiter">
              Name: {{ mitarbeiter.name }}
              <!-- Weitere Mitarbeiterdetails -->
            </li>
          </ul>
        </div>
        <button (click)="onBearbeiten()">Bearbeiten</button>
      </div>
    </li>
  </ul>
</div>
