<div>
  <h1>Projekte ohne Bilanzierung</h1>
  <div class="filter-container">
    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Filtern nach Auftrag</mat-label>
      <input matInput type="text" [(ngModel)]="auftrag" (ngModelChange)="applyFilter()">
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Filtern nach Produktionslinie</mat-label>
      <input matInput type="text" [(ngModel)]="produktionsline" (ngModelChange)="applyFilter()">
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Filtern nach Mitarbeitername</mat-label>
      <input matInput type="text" [(ngModel)]="mitarbeiterFilter" (ngModelChange)="applyFilter()">
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Datum</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="aktuellesDatum" (ngModelChange)="applyFilter()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>


    
        <div>
         
          <mat-table [dataSource]="gefilterteProjekte" multiTemplateDataRows class="mat-elevation-z8">
        
            <!-- Auftrag Spalte -->
            <ng-container matColumnDef="auftrag">
              <mat-header-cell *matHeaderCellDef> Auftrag </mat-header-cell>
              <mat-cell *matCellDef="let projekt" [style.backgroundColor]="projekt.Auftrag ? getFarbeFuerAuftrag(projekt.Auftrag) : defaultColor">
                {{ projekt.Auftrag }}
              </mat-cell>
              
                      </ng-container>
        <!-- Fügen Sie diese Zeile in Ihre Tabelle Header ein -->
      


            <ng-container matColumnDef="kunde">
              <mat-header-cell *matHeaderCellDef> Kunde </mat-header-cell>
              <mat-cell *matCellDef="let projekt" >
                {{ projekt.kunde }}
              </mat-cell>
            </ng-container>
            <!-- Produktionslinie Spalte -->
            <ng-container matColumnDef="produktionslinie">
              <mat-header-cell *matHeaderCellDef> Produktionslinie </mat-header-cell>
              <mat-cell *matCellDef="let projekt" [style.background-color]="getFarbeFuerLinie(projekt.produktionslinie)"> {{projekt.produktionslinie}} </mat-cell>
            </ng-container>
        
            <!-- Startzeit Spalte -->
            <ng-container matColumnDef="startzeit">
              <mat-header-cell *matHeaderCellDef> Startzeit </mat-header-cell>
              <mat-cell *matCellDef="let projekt"> {{projekt.startzeit | date:'dd.MM.yyyy HH:mm:ss'}} </mat-cell>
            </ng-container>
        
            <!-- Endzeit Spalte -->
            <ng-container matColumnDef="endzeit">
              <mat-header-cell *matHeaderCellDef> Endzeit </mat-header-cell>
              <mat-cell *matCellDef="let projekt"> {{projekt.endzeit | date:'dd.MM.yyyy HH:mm:ss'}} </mat-cell>
            </ng-container>
        <!-- Mitarbeiter Spalte -->
            <ng-container matColumnDef="mitarbeiter">
              <mat-header-cell *matHeaderCellDef> Mitarbeiter </mat-header-cell>
              <mat-cell *matCellDef="let projekt"> {{ getMitarbeiterNamen(projekt) }} </mat-cell>
  
            </ng-container>
            
            <!-- Aktionen Spalte -->
            <ng-container matColumnDef="aktionen">
              <mat-header-cell *matHeaderCellDef> Aktionen </mat-header-cell>
              <mat-cell *matCellDef="let projekt" [style.backgroundColor]="projekt.Auftrag ? getFarbeFuerAuftrag(projekt.Auftrag) : defaultColor">

                                <button mat-button (click)="onBearbeiten(projekt, $event)">Bearbeiten</button>
              </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleAusgewaehltesProjekt(row)"></mat-row>
          </mat-table>
        </div>
        